<% if user_signed_in? %>

  <% else %>

  <div class="card background-color card-landing">
    <div class="card-body">
      <h4 class="card-title card-cap-bg">Присоединяйся</h4>
    </div>
    <div class="card-header">
      <h5 class="card-title">Делитесь своими имоциями</h5>
      <p class="card-text">Размещайте свои фотографии и подписывайтесь друг на друга.</p>
      <a class="btn btn-success" href="/users/sign_up" role="button">Создать аккаунт</a>
      <a class="btn btn-primary" href="/users/sign_in" role="button">Войти</a>
    </div>
  </div>

<% end %>
