<div class="card background-color card-landing">
  <div class="card-body">
    <h4 class="card-title card-cap-bg">Присоединяйся</h4>
  </div>
  <div class="card-header">
    <h5 class="card-title">Делитесь своими имоциями</h5>
    <p class="card-text">Размещайте свои фотографии и подписывайтесь друг на друга.</p>
    <a class="btn btn-success" href="#" role="button">Создать аккаунт</a>
    <a class="btn btn-primary" href="#" role="button">Войти</a>
  </div>
</div>