<% if user_signed_in? %>

  <% else %>
        <div class="card background-color card-landing">
              <div class="card-body">
                <h4 class="card-title card-cap-bg">Присоединяйся</h4>
              </div>
                <div class="card-header">
                  <h5 class="card-title">Делитесь своими имоциями</h5>
                  <p class="card-text">Размещайте свои фотографии и подписывайтесь друг на друга.</p>
                  <%= link_to "Создать аккаунт", new_user_registration_path, class: "btn btn-success" %>
                  <%= link_to "Войти", new_user_session_path, class: "btn btn-success" %>
                </div>
        </div>
<% end %>
